*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  background:#fff;
  color:#000;
}

/* NAVBAR */
.navbar{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px 60px;
  border-bottom:1px solid #eee;
}

.logo{
  font-size:32px;
  font-weight:bold;
  color:#666;
}

.logo span{
  color:#1a2cff;
}

nav a{
  margin-left:30px;
  text-decoration:none;
  color:#000;
  font-size:18px;
}

nav a.active{
  color:#1a2cff;
}

/* WELCOME */
.welcome{
  text-align:center;
  margin-top:80px;
}

.welcome h1{
  font-size:42px;
}

.welcome p{
  margin:10px 0 40px;
  color:#666;
}

.welcome img{
  width:300px;
}

/* FOOTER */
footer{
  text-align:center;
  margin-top:100px;
  color:#777;
}

footer span{
  color:#1a2cff;
}

/* TODO */
.todo{
  width:90%;
  max-width:700px;
  margin:60px auto;
}

.todo h1{
  font-size:40px;
}

.todo p{
  color:#777;
  margin-bottom:30px;
}

.input-box{
  display:flex;
  gap:15px;
  margin-bottom:30px;
}

.input-box input{
  flex:1;
  padding:15px;
  border-radius:10px;
  border:1px solid #ddd;
  font-size:18px;
}

.input-box button{
  background:#1a2cff;
  color:#fff;
  border:none;
  padding:15px 30px;
  border-radius:10px;
  font-size:18px;
  cursor:pointer;
}

/* LIST */
ul{
  list-style:none;
}

li{
  background:#f5f5f5;
  padding:20px;
  margin-bottom:15px;
  border-radius:12px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:20px;
}

li button{
  border:1px solid red;
  background:transparent;
  color:red;
  font-size:18px;
  border-radius:8px;
  padding:5px 10px;
  cursor:pointer;
}

/* COUNTER */
.counter{
  margin-top:20px;
  font-size:20px;
  color:#666;
}

/* RESPONSIVE */
@media(max-width:768px){
  .navbar{
    padding:20px;
  }

  .todo h1{
    font-size:32px;
  }

  .input-box{
    flex-direction:column;
  }

  .input-box button{
    width:100%;
  }
}
